/**
 * PandaCSS CSS layers
 * View the full documentation at https://panda-css.com/docs/concepts/cascade-layers#layer-css
 */
@layer reset, base, tokens, recipes, utilities;

html {
  font-family: 'pretendard';
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

label {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:disabled {
  cursor: not-allowed;
}
